@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

/* -- FOUNDATIONAL STYLINGS -- */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', 'Source Sans Pro', 'Arial';
    font-style: italic;
    color: #064273;
    background-color: #def3f6;
}

a {
    text-decoration: none;
}

/* -- NAVIGATION BUTTONS -- */

nav {
    font-family: 'Source Sans Pro', 'Open Sans', 'Arial';
    font-style: normal;
}

/* -- GENERAL IMAGE SETTINGS AND HEADING OPTIONS -- */

h1 {
    font-family: 'Open Sans', 'Source Sans Pro', 'Arial';
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #064273;
}

img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

/* -- LOGO SECTION -- */

#logo {
    float: left;
    object-fit: contain;
    max-width: 250px;
    max-height: 102px;
    line-height: 200px;
    margin-left: 30px;
}

/* -- MENU SECTION -- */

#menu {
    line-height: 125px;
}

#menu ul {
    float: right;
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a:hover {
    border-bottom: 1px solid #064273;
}

.active {
    border-bottom: 1px solid #064273;
}

/* -- IMAGE BANNER UNDER THE HEADER -- */

#portaferry-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#portaferry-drone {
    height: 500px;
    width: 100%;
    background: url('../images/portaferrydronephoto.jpg') no-repeat center fixed;
    background-size: cover;

    /* Animation for the Image Banner */
    animation-name: portaferry-drone-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Zoom for the Image Banner */

@keyframes portaferry-drone-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* -- THE ABOUT US SECTION -- */

#about-us-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
}

/* Targeting of H1 element within About Us section to give enough space */

#about-us-outer h1 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    text-align: center;
    overflow: hidden;
}

#top-bit {
    text-align: center;
}

#bottom-bit {
    text-align: center;
}

#about-us-photo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 300px;
    width: 100%;
    background: url('../images/portaferryfront.jpg') no-repeat center local;
    background-size: cover;
}

/* -- THE SPECIAL OFFERS SECTION -- */

#special-offers-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
}

/* Targeting of H1 element within Special Offers section to give enough space */

#special-offers-outer h1 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    text-align: center;
    overflow: hidden;
}

/* -- THE SPECIAL EVENTS SECTION -- */

#special-events-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
}

/* Targeting of H1 element within Special Events section to give enough space */

#special-events-outer h1 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    text-align: center;
    overflow: hidden;
}

/* Alignment and contents of Left, Right and Center divs */

#events-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#events-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#events-center {
    width: 33%;
    margin: 0 auto;
    background-color: green;
}

/* Stylized underline effect for sub-titles */

hr {
    border-top: 1px solid #064273;
    width: 100%;
    margin: 5px 0;
}

.events-left-headings {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.events-right-headings {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

/* Alignment of heading and paragraph on right hand side of events section */

.events-right-headings h2, .events-right-headings p {
    text-align: right;
}