@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

/* -- foundational stylings -- */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', 'Source Sans Pro', 'Arial';
    font-style: italic;
    color: #064273;
    background-color: #def3f6;
}

a {
    text-decoration: none;
}

/* -- navigation buttons -- */

nav {
    font-family: 'Source Sans Pro', 'Open Sans', 'Arial';
    font-style: normal;
}

@media (max-width: 700px){
    .navigationBar {
        text-align: center;
    }
    .navigationBar, ul, li {
        display: inline;
        font-size: 70%;
    }
}

/* -- general image settings and headings options -- */

h1 {
    font-family: 'Open Sans', 'Source Sans Pro', 'Arial';
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #064273;
}

img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

/* -- logo section -- */

#logo {
    float: left;
    object-fit: contain;
    max-width: 250px;
    max-height: 102px;
    line-height: 200px;
    margin-left: 30px;
}

/* -- menu section -- */

#menu {
    line-height: 125px;
}

#menu ul {
    float: right;
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a:hover {
    border-bottom: 1px solid #064273;
}

.active {
    border-bottom: 1px solid #064273;
}

/* -- image banner under the header -- */

#portaferry-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#portaferry-drone {
    height: 500px;
    width: 100%;
    background: url('../images/portaferrydronephoto.jpg') no-repeat center fixed;
    background-size: cover;

    /* animation for the image banner */
    animation-name: portaferry-drone-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#portaferry-gallery {
    height: 500px;
    width: 100%;
    background: url('../images/portaferryview.jpg') no-repeat center fixed;
    background-size: cover;

    /* animation for the image banner */
    animation-name: portaferry-drone-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#portaferry-amenities {
    height: 500px;
    width: 100%;
    background: url('../images/narrowsamenitiespicture.jpg') no-repeat center fixed;
    background-size: cover;

    /* animation for the image banner */
    animation-name: portaferry-drone-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* zoom for the image banner animation */

@keyframes portaferry-drone-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* -- the about us section -- */

#about-us-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
}

/* targeting of h1 element within 'about us' section for necessary spacing */

#about-us-outer h1 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    text-align: center;
    overflow: hidden;
    font-size: 250%;
    border-bottom: 3px double #064273;
}

#top-bit {
    text-align: center;
}

#bottom-bit {
    text-align: center;
}

#about-us-photo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 300px;
    width: 100%;
    background: url('../images/portaferryfront.jpg') no-repeat center local;
    background-size: cover;
    box-shadow: 0 0 7px 7px #def3f6 inset;
}

/* -- the special offers section -- */

#special-offers-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#special-offers-photo-one {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 200px;
    width: 100%;
    background: url('../images/foodtableone.jpg') no-repeat center local;
    background-size: cover;
    box-shadow: 0 0 7px 7px #def3f6 inset;
}

#special-offers-photo-two {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 200px;
    width: 100%;
    background: url('../images/foodtabletwo.jpg') no-repeat center local;
    background-size: cover;
    box-shadow: 0 0 7px 7px #def3f6 inset;
}

/* targeting of h1 element within 'special offers' section for necessary spacing */

#special-offers-outer h1 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    overflow: hidden;
    font-size: 250%;
    border-bottom: 3px double #064273;
}

#special-offers-outer h2 {
    font-size: 150%;
    border-bottom: 1px solid #064273;
}

/* alignment of special offers list one next to another */

#irish-breakfast, #polish-pancakes, #lamb-stew, #fish-chips, #steak-chips {
    display: inline-block;
    padding: 20px;
    font-size: 80%;
}

/* -- the special events section -- */

#special-events-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
}

/* targeting of h1 element within 'special events' section for necessary spacing */

#special-events-outer h1 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    text-align: center;
    overflow: hidden;
}

/* alignment and contents of left, right and center divs */

#special-events-welcome {
    text-align: center;
    font-size: 250%;
    border-bottom: 3px double #064273;
}

#events-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#events-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#events-center {
    width: 33%;
    margin: 0 auto;
}

/* stylized underline effect for sub-titles */

hr {
    border-top: 1px solid #064273;
    width: 100%;
    margin: 5px 0;
}

.events-left-headings {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.events-right-headings {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

/* alignment of heading and paragraph on right hand side of events section */

.events-right-headings h2, .events-right-headings p {
    text-align: right;
}

/* center image and background of events section */

@media (max-width: 2000px) {
    #events-container {
        width: 300px;
        height: 300px;
        padding: 20px;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
        border-radius: 50%;
        margin: 8px auto;
        background-color: #064273;
    }
}

@media (max-width: 1000px) {
    #events-container {
        width: 200px;
        height: 200px;
        padding: 10px;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
        border-radius: 50%;
        margin: 4px auto;
        background-color: #064273;
    }
}

@media (max-width: 600px) {
    #events-container {
        width: 100px;
        height: 100px;
        padding: 5px;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
        border-radius: 50%;
        margin: 2px auto;
        background-color: #064273;
    }
}

#events-container-bg {
    background: url(../images/partytable.jpg) no-repeat center center;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-style: solid;
    border-color: #def3f6;
    border-width: 2px;
    border-radius: 50%;
}

/* the online reservation section */

 #reservations-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
}

#reservations-outer h1 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    text-align: center;
    overflow: hidden;
    font-size: 250%;
    border-bottom: 3px double #064273;
}

#reservations-outer h2 {
    text-align: center;
    overflow: hidden;
    font-size: 150%;
}

/* styling of the form template */

.reservations-section {
    width: 500px;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    border-width: 4px;
    border-style: inset;
}

.reservations-section a {
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    text-align: center;
    background-color: green;
    color: white;
    width: auto;
}

/* google maps frame */

.maps-section {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.maps-section iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* responsive footer, by Coding Nepal, credited in readme.md (https://www.youtube.com/watch?v=f4J3uaNNYTE&ab_channel=CodingNepal) */

footer {
    position: relative;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: 15rem;
    background-color: #def3f6;
}

.main-footer {
    display: flex;
}

.main-footer .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box, .times-open {
    margin: 20px 0 0 0;
}

.left, .restaurant-contact, .social-links {
    margin: 20px 0 0 0;
}

@media (max-width: 700px){
    footer, .box h2 {
        font-size: 70%;
        margin-bottom: 0;
        margin-top: 0!important;
    }
}

/* style options for gallery, by Tim Wells, credited in readme.md (https://timnwells.medium.com/create-a-simple-responsive-image-gallery-with-html-and-css-fcb973f595ea) */

#gallery {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
 }

 #gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
 }

 @media (max-width: 1200px) {
    #gallery {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }

 @media (max-width: 1000px) {
    #gallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }

 @media (max-width: 800px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }

 @media (max-width: 400px) {
    #gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 }

 /* the menu and amenities section */

 #menu-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
}

#menu-outer h1 {
    margin-top: 1rem!important;
    text-align: center;
    overflow: hidden;
    font-size: 250%;
    border-bottom: 3px double #064273;
}

#menu-text, #amenities-section {
    text-align: center;
}

#menu-text h2, #amenities-section h2 {
    margin-top: 1rem!important;
    text-transform: uppercase;
    border-bottom: 1px solid #064273;
}

#menu-text p, #amenities-section p {
    margin-bottom: 1rem!important
}

/* menu section photo banners */

#menu-photo-one {
    margin-top: 1rem;
    height: 200px;
    width: 100%;
    background: url('../images/narrowsmenuone.jpeg') no-repeat center local;
    background-size: cover;
    box-shadow: 0 0 7px 7px #def3f6 inset;
}

#menu-photo-two {
    margin-bottom: 1rem;
    height: 200px;
    width: 100%;
    background: url('../images/narrowsmenutwo.jpg') no-repeat center local;
    background-size: cover;
    box-shadow: 0 0 7px 7px #def3f6 inset;
}

/* amenities section photo banners */

#amenities-photo-one {
    margin-top: 1rem;
    height: 200px;
    width: 100%;
    background: url('../images/amenitiesone.jpg') no-repeat center local;
    background-size: cover;
    box-shadow: 0 0 7px 7px #def3f6 inset;
}

#amenities-photo-two {
    margin-bottom: 1rem;
    height: 200px;
    width: 100%;
    background: url('../images/amenitiestwo.jpg') no-repeat center local;
    background-size: cover;
    box-shadow: 0 0 7px 7px #def3f6 inset;
}

#amenities-photo-three {
    margin-bottom: 1rem;
    height: 200px;
    width: 100%;
    background: url('../images/amenitiesthree.jpg') no-repeat center local;
    background-size: cover;
    box-shadow: 0 0 7px 7px #def3f6 inset;
}