@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

/* -- foundational stylings -- */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', 'Source Sans Pro', 'Arial';
    font-style: italic;
    color: #064273;
    background-color: #def3f6;
}

a {
    text-decoration: none;
}

/* -- navigation buttons -- */

nav {
    font-family: 'Source Sans Pro', 'Open Sans', 'Arial';
    font-style: normal;
}

/* -- general image settings and headings options -- */

h1 {
    font-family: 'Open Sans', 'Source Sans Pro', 'Arial';
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #064273;
}

img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

/* -- logo section -- */

#logo {
    float: left;
    object-fit: contain;
    max-width: 250px;
    max-height: 102px;
    line-height: 200px;
    margin-left: 30px;
}

/* -- menu section -- */

#menu {
    line-height: 125px;
}

#menu ul {
    float: right;
    font-size: 110%;
    letter-spacing: 2px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a:hover {
    border-bottom: 1px solid #064273;
}

.active {
    border-bottom: 1px solid #064273;
}

/* -- image banner under the header -- */

#portaferry-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#portaferry-drone {
    height: 500px;
    width: 100%;
    background: url('../images/portaferrydronephoto.jpg') no-repeat center fixed;
    background-size: cover;

    /* animation for the image banner */
    animation-name: portaferry-drone-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* zoom for the image banner animation */

@keyframes portaferry-drone-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* -- the about us section -- */

#about-us-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
}

/* targeting of h1 element within 'about us' section for necessary spacing */

#about-us-outer h1 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    text-align: center;
    overflow: hidden;
    font-size: 250%;
    border-bottom: 3px double #064273;
}

#top-bit {
    text-align: center;
}

#bottom-bit {
    text-align: center;
}

#about-us-photo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 300px;
    width: 100%;
    background: url('../images/portaferryfront.jpg') no-repeat center local;
    background-size: cover;
    box-shadow: 0 0 7px 7px #def3f6 inset;
}

/* -- the special offers section -- */

#special-offers-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
}

/* targeting of h1 element within 'special offers' section for necessary spacing */

#special-offers-outer h1 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    text-align: center;
    overflow: hidden;
    font-size: 250%;
    border-bottom: 3px double #064273;
}

/* -- the special events section -- */

#special-events-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
}

/* targeting of h1 element within 'special events' section for necessary spacing */

#special-events-outer h1 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    text-align: center;
    overflow: hidden;
}

/* alignment and contents of left, right and center divs */

#special-events-welcome {
    text-align: center;
    font-size: 250%;
    border-bottom: 3px double #064273;
}

#events-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#events-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#events-center {
    width: 33%;
    margin: 0 auto;
}

/* stylized underline effect for sub-titles */

hr {
    border-top: 1px solid #064273;
    width: 100%;
    margin: 5px 0;
}

.events-left-headings {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.events-right-headings {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

/* alignment of heading and paragraph on right hand side of events section */

.events-right-headings h2, .events-right-headings p {
    text-align: right;
}

/* center image and background of events section */

#events-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}